.social{
	display: flex;
	&__link{
		width: 32px;
		height: 32px;
		margin-right: 14px;
		background-color: #606060;
		align-items: center;
		display: flex;
		justify-content: center;
		position: relative;
		&:before{
			content: '';
			display: inline-block;
			width: 15px;
			height: 15px;
			background-color: #fff;
		}
	}
}